@font-face {
 font-family: "ALS Ekibastuz";
 src: url('../fonts/ALS_Ekibastuz/als_ekibastuz_regular-webfont.eot') format('embedded-opentype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_regular-webfont.ttf') format('truetype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_regular-webfont.woff') format('woff'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_regular-webfont.woff2') format('woff2');
 font-weight: 400;
}

@font-face {
 font-family: "ALS Ekibastuz";
 src: url('../fonts/ALS_Ekibastuz/als_ekibastuz_light-webfont.eot') format('embedded-opentype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_light-webfont.ttf') format('truetype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_light-webfont.woff') format('woff'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_light-webfont.woff2') format('woff2');
 font-weight: 300;
}

@font-face {
 font-family: "ALS Ekibastuz";
 src: url('../fonts/ALS_Ekibastuz/als_ekibastuz_bold-webfont.eot') format('embedded-opentype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_bold-webfont.ttf') format('truetype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_bold-webfont.woff') format('woff'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_bold-webfont.woff2') format('woff2');
 font-weight: 700;
}

@font-face {
 font-family: "ALS Ekibastuz";
 src: url('../fonts/ALS_Ekibastuz/als_ekibastuz_black-webfont.eot') format('embedded-opentype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_black-webfont.ttf') format('truetype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_black-webfont.woff') format('woff'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_black-webfont.woff2') format('woff2');
 font-weight: 800;
}

@font-face {
 font-family: "ALS Ekibastuz";
 src: url('../fonts/ALS_Ekibastuz/als_ekibastuz_extrablack-webfont.eot') format('embedded-opentype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_extrablack-webfont.ttf') format('truetype'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_extrablack-webfont.woff') format('woff'),
   url('../fonts/ALS_Ekibastuz/als_ekibastuz_extrablack-webfont.woff2') format('woff2');
 font-weight: 900;
}

@font-face {
  font-family: 'ico-esks';
  src:  url('../fonts/ico-esks.eot?204toy');
  src:  url('../fonts/ico-esks.eot?204toy#iefix') format('embedded-opentype'),
    url('../fonts/ico-esks.ttf?204toy') format('truetype'),
    url('../fonts/ico-esks.woff?204toy') format('woff'),
    url('../fonts/ico-esks.svg?204toy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico-esks' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-info:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-key:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-building:before {
  content: "\e909";
}
