@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  font-family: Arial;
  overflow-y: scroll;
}

main {
  min-height: 100vh;
}

/* core */

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1180px;
}

a {
  text-decoration: none;
  color: #0063B0;
}

a:hover {
  text-decoration: underline;
}

.link-negative {
  color: #EE3F58;
}

input, select, textarea, button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'ALS Ekibastuz';
  font-weight: 400;
}

.h1, h1 {
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 40px;
}

.h2, h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
}

.h4, h4 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 18px;
}

.hr {
  width: 100%;
  height: 1px;
  background: #BDC4C8;
  margin: 20px 0;
}

.button {
  background: #0063B0;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  padding: 7px 25px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #0063B0;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
}

.button.empty {
  background: transparent;
  border-color: #CDD1D4;
  color: #565656;
}

.button.big {
  padding: 14px 28px;
  line-height: 26px;
}

.button [class^="icon-"], .button [class*=" icon-"] {
  margin-right: 10px;
  vertical-align: -1px;
}

.button[disabled] {
  background: #BDC4C8;
  border-color: #BDC4C8;
  color: #fff;
  cursor: default;
}

ul, ol {
  margin-left: 18px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #C4C4C4;
}

.tabs .tab {
  font-size: 16px;
  line-height: 26px;
  padding: 8px 15px 6px;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
}

.tabs .tab + .tab {
  margin-left: 16px;
}

.tabs .tab:not(.active) {
  cursor: pointer;
}

.tabs .tab.active {
  border-bottom-color: #0063B0;
}

/* header */

header.header .container {
  min-height: 95px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

header.header .logo {
  height: 28px;
  width: auto;
}

header.header .logo img {
  height: inherit;
  width: auto;
}

header.header nav {
  margin-left: 90px;
}

header.header .headerSearch {
  margin-left: 48px;
  display: flex;
  align-items: center;
  height: 42px;
  line-height: 42px;
  border: 1px solid #CDD1D4;
  width: 480px;
}

header.header .headerSearch input {
  border: 0;
  height: 100%;
  line-height: inherit;
  padding: 0 16px;
  width: 100%;
}

header.header .headerSearch .icon {
  margin-right: 12px;
  color: #0063B0;
  flex-shrink: 0;
  background: #fff;
  border: 0;
  cursor: pointer;
}


header.header .profile {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header.header .profile .linkLogin .icon {
  font-size: 10px;
  line-height: 1.5em;
}

header.header .profile .info .name {
  color: #C1C1C1;
}

header.header .profile .info + .logout {
  margin-left: 26px;
}

header.header .mobileIcons {
  display: none;
}

/* footer */

footer.footer {
  background: #E6EBEC;
  padding: 40px 0 30px;
  color: #8E959A;
}

footer.footer .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer.footer .logoCopyright .logo {
  height: 28px;
  width: auto;
}

footer.footer .logoCopyright .logo img {
  height: inherit;
  width: auto;
}

footer.footer .logoCopyright .copyright {
  margin-top: 13px;
}

footer.footer .footerPhone {
  display: flex;
}

footer.footer .footerPhone .icon {
  font-size: 20px;
  color: #0963AE;
  border: 1px solid #8E959A;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}

footer.footer .footerPhone .phone .number {
  font-size: 32px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
  font-family: 'ALS Ekibastuz';
}

footer.footer .footerPhone .phone .label {
  margin-top: 4px;
}

footer.footer .naming {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer.footer .naming > * + * {
  margin-left: 48px;
}

/* breadcrumbs */

.breadcrumbs {
  background: #F6F6F6;
  font-size: 14px;
  line-height: 26px;
  overflow: hidden;
  margin-bottom: 50px;
}

.breadcrumbs .container {
  display: flex;
}

.breadcrumbs .item {
  color: #575F65;
  text-decoration: none;
  padding: 8px 0 10px;
  position: relative;
}

.breadcrumbs .item + .item {
  margin-left: 25px;
  padding-left: 38px;
}

.breadcrumbs .item + .item::before,
.breadcrumbs .item + .item::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 0;
  height: 50%;
  width: 28px;
  transform: skew(30deg);
  border-right: 1px solid #E1E1E1;
}

.breadcrumbs .item + .item::after {
  top: unset;
  bottom: 0;
  transform: skew(-30deg);
}

.breadcrumbs .item:not([href]) {
  color: #B7B7B7;
}

.linkBack {
  margin-bottom: 42px;
}

/* mainSlider */

.mainSlider {
  width: 100%;
  max-width: 100vw;
  height: 500px;
  background: #1F227D;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mainSlider.owl-carousel.owl-loaded {
  display: flex;
}

.mainSlider .slides {
  height: inherit;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.mainSlider .slide {
  height: 500px;
  width: 100%;
}

.mainSlider .slide .img {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.mainSlider .slide .img img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.mainSlider .slide .content {
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
}

.mainSlider .slide .content .container {
  padding: 90px 100px;
}

.mainSlider .slide .content .title {
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 15px;
  font-family: 'ALS Ekibastuz';
}

.mainSlider .slide .content p {
  color: #BDC4C8;
}

.mainSlider .nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
  z-index: 9;
  padding-top: 63px;
}

.mainSlider .nav .container {
  display: flex;
  align-items: flex-end;
  height: inherit;
}

.mainSlider .nav .prev,
.mainSlider .nav .next {
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  margin-left: -10px;
}

.mainSlider .nav .next {
  margin-left: auto;
  margin-right: -10px;
}

.mainSlider .nav-dots {
  padding-left: 85px;
  display: flex;
  padding-bottom: 55px;
  position: relative;
  z-index: 9;
}

.mainSlider .nav-dots .item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: transparent;
}

.mainSlider .nav-dots .item:not(.active):hover {
  cursor: pointer;
}

.mainSlider .nav-dots .item + .item {
  margin-left: 8px;
}

.mainSlider .nav-dots .item.active {
  background: #fff;
}

/* forkCategories */

#forkServices {
  padding: 60px 0 45px;
}

.listServiceCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: -46px;
  margin-left: -80px;
}

.listServiceCards .card {
  margin-top: 46px;
  margin-left: 80px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: calc(100%/2 - 80px);
  padding: 25px 32px;
  cursor: default;
  display: block;
  text-decoration: none;
}

.listServiceCards .card .title {
  display: flex;
  align-items: center;
  color: #0063B0;
  font-size: 20px;
  line-height: 26px;
  font-family: 'ALS Ekibastuz';
}

.listServiceCards .card .title .icon {
  height: 56px;
  width: auto;
  margin-right: 20px;
}

.listServiceCards .card .title .icon path {
  fill: #0063B0;
}

.listServiceCards .card .description {
  margin-top: 15px;
  color: #BDC4C8;
}

.listServiceCards .card:not(.disabled):hover {
  background: #E8F2FB;
  cursor: pointer;
}

.listServiceCards .card:not(.disabled):hover .description {
  color: #75B3D7;
}

.listServiceCards .card.disabled .title {
  color: #BDC4C8;
}

.listServiceCards .card.disabled .title .icon path {
  fill: #BDC4C8;
}

#forkServices .hr {
  margin: 60px 0;
}


/* article */

.article .articleContent {
  max-width: 830px;
  width: 100%;
}

.article header {
  margin-bottom: 50px;
}

.article header h1 {
  margin-bottom: 0;
}

.article header .label {
  margin-top: 4px;
}

.article header .label.warning {
  color: #F28230;
}

.article header .label .icon {
  margin-right: 6px;
}

.article p + p,
.article .p + p,
.article p + .p {
  margin-top: 24px;
}

.article figure {
  margin-top: 28px;
}

.article figure img {
  border: 1px solid #D8D8D8;
  max-width: 100%;
  height: auto;
}

.article figure iframe {
  width: 100%;
  height: 460px;
  border: 0;
}

.article figcaption {
  margin-top: 24px;
  color: #BDC4C8;
  text-align: center;
}

.article * + h4 {
  margin-top: 50px;
}

.article .inline {
  display: flex;
}

.article .inline > * + * {
  margin-left: 20px;
}

.article .comments {
  margin-top: 55px;
  padding-top: 40px;
  border-top: 1px solid #BDC4C8;
  margin-bottom: 48px;
  display: flex;
}

.article .comments .commentsLine {
  width: 100%;
}

.article .comments .filter {
  width: 450px;
  flex-shrink: 0;
}

.article .comments .list {
  margin-top: 24px;
}

.article .comments .list .empty {
  color: #BDC4C8;
}

.article .comments .unAuthLabel {
  margin-left: 34px;
}

.article .comments .comment + .comment {
  margin-top: 24px;
}

.article .comments .comment > .info {
  display: flex;
  margin-bottom: 9px;
}

.article .comments .comment > .info .author {
  font-weight: bold;
}

.article .comments .comment > .info .date {
  margin-left: 16px;
  color: #BDC4C8;
}

.article .comments .comment > .text {
  line-height: 26px;
}

.article .comments .comment > .actions {
  display: flex;
  margin-top: 9px;
}

.article .comments .comment > .actions > * {
  cursor: pointer;
}

.article .comments .comment > .actions > * + * {
  margin-left: 30px;
}

.article .comments .comment > .subcomments {
  margin-top: 24px;
  padding: 4px 0 4px 44px;
  border-left: 1px solid #BDC4C8;
}

/* search */

.searchWrap {
  padding-bottom: 70px;
}

.searchWrap .searchContainer {
  max-width: 830px;
  width: 100%;
}

.searchWrap .formQuery {
  padding: 16px 18px;
  background: #BFE5FF;
  display: flex;
  margin-bottom: 45px;
}

.searchWrap .formQuery input[name=q] {
  flex-grow: 1;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 21px;
  border-radius: 5px;
}

.searchWrap .formQuery .searchButton {
  height: 100%;
  font-size: 33px;
  padding: 10px 30px;
  height: 54px;
  width: 92px;
  margin-left: 15px;
}

.searchWrap .results .item .title {
  font-family: 'ALS Ekibastuz';
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

.searchWrap .results .item .description {
  margin-top: 10px;
}

.searchWrap .results .item + .item {
  margin-top: 35px;
}

.searchWrap .results .more {
  margin-top: 65px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchWrap .results .more span {
  font-family: 'ALS Ekibastuz';
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

.searchWrap .results .more .icon {
  margin-left: 7px;
  font-size: 7px;
  color: #0173C1;
}

/* category */

.categoryWrap {
  display: flex;
  margin-bottom: 32px;
  position: relative;
}

.categoryWrap > .listWrap {
  width: 830px;
  flex-shrink: 0;
}

.categoryWrap > .listWrap > .header {
  display: flex;
  align-items: flex-end;
}

.categoryWrap > .listWrap > .header > .h1 {
  margin-bottom: 0;
}

.categoryWrap > .listWrap > .header > .toggleAll {
  margin-top: 18px;
  margin-left: auto;
}

.categoryWrap > .listWrap > .list {
  margin-top: 23px;
  border-top: 1px solid #BDC4C8;
}

.categoryWrap > .listWrap > .list > .section {
  border-bottom: 1px solid #BDC4C8;
}

.categoryWrap > .listWrap > .list > .section > .title {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  font-family: 'ALS Ekibastuz';
  padding: 20px 0;
  cursor: pointer;
}

.categoryWrap .listWrap > .list > .section > .title .container {
  display: flex;
  align-items: center;
}

.categoryWrap > .listWrap > .list > .section > .title .icon {
  font-size: 6px;
  width: 21px;
  height: 21px;
  border: 1px solid #DBE2E6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  padding-top: 1px;
  transition: all .15s;
}

.categoryWrap > .listWrap > .list > .section.open > .title .icon {
  font-size: 6px;
  width: 21px;
  height: 21px;
  border: 1px solid #DBE2E6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  padding-top: 1px;
  transform: rotate(180deg);
}

.categoryWrap .listWrap > .list > .section > .title.title-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  z-index: 9;
  display: none;
}

.categoryWrap .listWrap > .list > .section > .title.title-fixed.show {
  display: block;
}

.categoryWrap > .listWrap > .list > .section > .items {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 23px;
}

.categoryWrap > .listWrap > .list .sublist {
  display: none;
}

.categoryWrap > .listWrap > .list > .section > .items .item:not(.section) + .item:not(.section) {
  display: block;
  margin-top: 12px;
}

.categoryWrap > .listWrap > .list > .section + .item:not(.section),
.categoryWrap > .listWrap > .list > .item:not(.section) + .section {
  display: block;
  margin-top: 30px;
}

.categoryWrap > .listWrap > .list > .item:not(.section) + .item:not(.section) {
  display: block;
  margin-top: 18px;
}

.categoryWrap > .listWrap > .list > .section > .items .item .title {
  color: #0063B0;
  font-weight: bold;
  cursor: pointer;
}

.categoryWrap > .listWrap > .list > .section > .items .item .title > .icon {
  font-size: 6px;
  margin-left: 12px;
  vertical-align: 2px;
  display: inline-block;
  transition: all .15s;
}

.categoryWrap > .listWrap > .list > .section > .items .item.open > .title > .icon {
  transform: rotate(180deg);
}

.categoryWrap > .listWrap > .list > .section > .items .sublist {
  padding: 10px 0 10px 16px;
  padding-left: 16px;
  margin-top: 13px;
}

.categoryWrap .otherCategories {
  margin-left: 70px;
  padding-top: 90px;
  margin-top: -20px;
}

.categoryWrap .otherCategories .h4 {
  margin-bottom: 30px;
}

.categoryWrap .otherCategories .items .item .title {
  font-family: 'ALS Ekibastuz';
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.categoryWrap .otherCategories .items .item .description {
  color: #BDC4C8;
  margin-top: 10px;
}

.categoryWrap .otherCategories .items .item + .item {
  margin-top: 30px;
}

/* login */

#login {
  max-width: 570px;
  margin: 0 auto;
  padding-top: 128px;
  padding-bottom: 128px;
  text-align: center;
  width: 90%;
}

#login .logo {
  height: 28px;
}

#login .logo img {
  height: inherit;
  width: auto;
}

#login .header {
  font-family: 'ALS Ekibastuz';
  font-size: 48px;
  line-height: 60px;
  margin-top: 32px;
  font-weight: normal;
  margin-bottom: 32px;
}

#login .variants .item {
  padding: 15px 34px;
  display: flex;
  align-items: center;
  text-align: left;
  border-color: #CDD1D4;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

#login .variants .item:first-child {
  border-radius: 5px 5px 0 0;
  border-top-width: 1px;
}

#login .variants .item:last-child {
  border-radius: 0 0 5px 5px;
}

#login .variants .item:hover {
  text-decoration: none;
}

#login .variants .item .i-variant {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #BBCCD6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  color: #0063B0;
  padding-bottom: 4px;
  margin-right: 14px;
}

#login .variants .item .info .title {
  font-family: 'ALS Ekibastuz';
  font-size: 20px;
  line-height: 26px;
  color: #0063B0;
}

#login .variants .item .info .subtext {
  color: #BDC4C8;
}

#login .variants .item .i-enter {
  margin-left: auto;
  font-size: 22px;
  color: #BDC4C8;
}

@media screen and (max-width: 480px) {

  .h1, h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .h2, h2 {
    font-size: 28px;
    line-height: 34px;
  }

  header.header .profile,
  header.header .headerSearch {
    width: 100%;
    margin-top: 20px;
  }

  header.header .profile:not(.show),
  header.header .headerSearch:not(.show) {
    display: none;
  }

  header.header .headerSearch {
    margin-left: 0;
  }

  header.header .headerSearch input {
    font-size: 14px;
    padding: 0 14px;
  }

  header.header .container {
    padding: 15px 0;
    min-height: 60px;
    flex-wrap: wrap;
  }

  header.header .logo {
    height: 18px;
  }

  header.header nav {
    margin-left: 30px;
  }

  header.header .mobileIcons {
    display: flex;
    margin-left: auto;
    align-items: center;
    color: #0063B0;
    margin-right: -10px;
  }

  header.header .mobileIcons > * {
    padding: 10px;

  }

  header.header .mobileIcons > * + * {
    margin-left: 5px;
  }

  header.header .mobileIcons .icon-key {
    font-size: 14px;
  }

  footer.footer .info {
    flex-wrap: wrap;
  }

  footer.footer .footerPhone {
    order: -1;
    margin-bottom: 30px;
  }

  footer.footer .footerPhone .phone .number {
    font-size: 24px;
    line-height: 32px;
  }

  footer.footer .naming {
    flex-wrap: wrap;
  }

  footer.footer .naming > div {
    order: 1;
    margin-top: 20px;
    margin-left: 0;
  }

  #login .variants .item {
    padding-left: 20px;
    padding-right: 20px;
  }

  #login .header {
    font-size: 40px;
    line-height: 48px;
  }

  body .breadcrumbs {
    margin-bottom: 30px;
  }

  .linkBack {
    margin-bottom: 30px;
  }

  .breadcrumbs .container {
    flex-wrap: wrap;
  }

  .breadcrumbs .item::before {
    display: none;
  }

  body .breadcrumbs .container > .item,
  body .breadcrumbs .container > .item + .item {
    padding-right: 20px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 25px;
  }

  body .breadcrumbs .container > .item::after {
    content: "";
    transform: rotate(45deg) translateY(-50%);
    width: 10px;
    height: 10px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0 0;
    top: 50%;
    right: 0;
    position: absolute;
    left: unset;
    margin-top: -2px;
  }

  body .breadcrumbs .container > .item:last-child::after {
    display: none;
  }

  .article header h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .article .inline {
    flex-wrap: wrap;
  }

  .article .inline > * {
    width: 100%;
  }

  .article .inline > * + * {
    margin-left: 0;
    margin-top: 20px;
  }

  .article figure iframe {
    height: 240px;
  }

  .article .comments .unAuthLabel {
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }

  .article .comments {
    flex-wrap: wrap;
  }

  .article .comments > * {
    width: 100%;
  }

  .article .comments > .filter {
    order: -1;
    margin-bottom: 40px;
    width: 100%;
  }

  .tabs {
    flex-wrap: wrap;
    border-bottom: 0;
    border-left: 1px solid #C4C4C4;
  }

  .tabs .tab {
    width: 100%;
    margin-bottom: 0;
    margin-left: -1px;
    border-bottom: 0;
    border-left: 3px solid transparent;
  }

  .tabs .tab + .tab {
    margin-left: 0;
  }

  .tabs .tab.active {
    border-left-color: #0063B0;
  }

  .article * + h4 {
    margin-top: 30px;
  }

  .article figcaption {
    margin-top: 12px;
  }

  .article header .label {
    margin-top: 10px;
  }

  .article header {
    margin-bottom: 36px;
  }

  .article .comments .list {
    font-size: 14px;
  }

  .article .comments .comment > .subcomments {
    margin-top: 12px;
    padding-left: 12px;
  }

  .article .comments .comment > .actions > * + * {
    margin-left: 15px;
  }

  .mainSlider,
  .mainSlider .slide {
    height: 300px;
  }

  .mainSlider .nav-dots {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .mainSlider .nav {
    padding-top: 38px;
  }

  .mainSlider .slide .content .container {
    padding: 40px 50px;
  }

  .listServiceCards {
    margin-left: 0;
    margin-top: -25px;
  }

  .listServiceCards .card {
    margin-left: 0;
    width: 100%;
    margin-top: 25px;
  }

  #forkServices .hr {
    margin: 30px 0;
  }

  .searchWrap .formQuery {
    padding: 8px 9px;
    margin-bottom: 30px;
  }

  .searchWrap .formQuery input[name=q] {
    padding: 7px 10px;
    line-height: 20px;
  }

  .searchWrap .formQuery .searchButton {
    font-size: 16px;
    padding: 8px 15px;
    width: auto;
    height: auto;
    margin-left: 10px;
  }

  .searchWrap .results .more {
    margin-top: 40px;
  }

  .categoryWrap {
    flex-wrap: wrap;
  }

  .categoryWrap > .listWrap {
    width: 100%;
  }

  .categoryWrap .otherCategories {
    padding-top: 40px;
    margin-left: 0;
  }

  .categoryWrap > .listWrap > .list {
    font-size: 14px;
    margin-top: 15px;
  }

  .categoryWrap > .listWrap > .list > .section > .title {
    font-size: 18px;
    line-height: 22px;
    padding: 15px 0;
  }

  .categoryWrap > .listWrap > .list > .section > .items {
    margin-top: 0;
    margin-left: 15px;
  }

  .categoryWrap > .listWrap > .header {
    align-items: center;
  }

  .categoryWrap > .listWrap > .header > .toggleAll {
    margin-top: 0;
  }

  .button.big {
    padding: 11px 25px 9px;
    line-height: 24px;
  }

  #forkServices {
    padding-top: 40px;
  }

}
